.container-fluid
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					|         
					span.icon-bar
					|         
					span.icon-bar
					|         
					span.icon-bar
					|       
				a.navbar-brand(href='/#!') #{locals.site_title}
				
			ul.nav.navbar-nav.navbar-right
				li(ng-if="!user_logged")
					a(ng-href="#{root_url}:#{port}/login") {{render_config.i18n.CUSTOM.USER.login}}
					a(ng-href="#{root_url}:#{port}/signup") {{render_config.i18n.CUSTOM.USER.register}}

				li(ng-if="user_logged") 
					span {{user_logged.username}} |
						a(ng-href="#{root_url}:#{port}/me/account"){{render_config.i18n.CUSTOM.USER.myprofile}}

						




	ol.breadcrumb
		li 
			a(href="/#!") home
		li
			a.active(href="/#!") {{render_config.i18n.CUSTOM.USER.register}}


	h3 {{render_config.i18n.CUSTOM.USER.register}}
	form(role="form" novalidate class="css-form ")
		.form-group(style="color:red") 
			label {{errors}}

		.form-group
			label(for='username') {{render_config.i18n.CUSTOM.USER.pick_username}} :      
			input#email.form-control(type="text" , ng-model="username")

		.form-group
			label(for='email') {{render_config.i18n.CUSTOM.USER.pick_email}} :      
			input#email.form-control(type="text" , ng-model="email")


		.form-group
			label(for='email') {{render_config.i18n.CUSTOM.USER.pick_password}} :      
			input#email.form-control(type="password" , ng-model="password")

	

		// label {{render_config.i18n.CUSTOM.USER.subscribe_option}} 
		// input(type="hidden", ng-model="newsletter", )
		
		a.btn.btn-default(ng-click="checkregister()") {{render_config.i18n.CUSTOM.USER.register}}


		// p 
			a(href="{{created_user_link}}") {{success}}