div(id="fb-root")
.container-fluid(ng-hide="ui.ready == true")
			p.alert.alert-success Chargement...

.container-fluid(ng-if="ui.ready")
	
	
	div.iswidget(class="widget-{{ui.widgettype}}" ng-if="ui.iswidget")
		div(ng-if="ui.widgettype=='groups'")
			
			h1 {{vote.title}}
			h4(ng-bind-html="vote.excerpt") 

			
			a(href="https://twitter.com/share" class="twitter-share-button" data-url="#{root_url}/vote/{{vote.slug}}" data-text="mobilisation sur le vote {{vote.title}}" data-via="tom_plays") Partager sur Twitter
			div(class="fb-share-button" data-href="#{root_url}/vote/{{vote.slug}}" data-layout="button_count") share
			div.chartall
				div.charttotal
					h3 Répartition total ({{ui.count.all_senateurs.total}} sénateurs) 
					div
						pie-chart(data="data_all" options="options")
			
				div.chartsgroup
					h3 Répartition par groupe parlementaire:
					div.group.chartgroup(class="group_{{$index}} group_{{group}}" ng-repeat="group in groupslist track by $index" ng-if="data[group]") 
						h4 {{group}}
						div
							pie-chart(data="data[group]" options="options_small")
						
	

	div(ng-hide="ui.iswidget")
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						|         
						span.icon-bar
						|         
						span.icon-bar
						|         
						span.icon-bar
						|       
					a.navbar-brand(href='/#!') #{locals.site_title}
					
				ul.nav.navbar-nav.navbar-right
					li(ng-if="!user_logged")
						a(ng-href="#{root_url}:#{port}/login") {{render_config.i18n.CUSTOM.USER.login}}
						a(ng-href="#{root_url}:#{port}/signup") {{render_config.i18n.CUSTOM.USER.register}}

					li(ng-if="user_logged") 
						span {{user_logged.username}} |
							a(ng-href="#{root_url}:#{port}/me/account") {{render_config.i18n.CUSTOM.USER.myprofile}}

							
		ol.breadcrumb
			li 
				a(href="/#!") Accueil
			li
				a.active(href="#") Vote



		// div(id="hemicycle" style="z-index:0;margin-left:35px;margin-right:auto;height:620px;")
		

		div
			h1 {{vote.title}}
			
			a(ng-if="is_owner" ng-click="editor_('title')") edit title
			div(ng-if="ui.editor['title'] == true")
				input(ng-model="vote.title")
				a(ng-click="edit('vote_title', vote._id, vote.title)" )  save title
			h3 {{vote.updated_moment}} 
			// ({{vote.updated}})

			div.jumbotron
				
			
				h4 vote prévu dans {{vote.closetime_moment}}
				a(ng-if="is_owner" ng-click="editor_('closetime')") edit closetime
				div(ng-if="ui.editor['closetime'] == true")
					textarea(ng-model="vote.closetime")
					a(ng-click="edit('closetime', vote._id, vote.closetime)" )  closetime


				h4(ng-bind-html="vote.excerpt") 
				a(ng-if="is_owner" ng-click="editor_('excerpt')") edit excerpt
				div(ng-if="ui.editor['excerpt'] == true")
					textarea(ng-model="vote.excerpt")
					a(ng-click="edit('excerpt', vote._id, vote.excerpt)" )  save excerpt

				p(ng-bind-html="vote.content")
				a(ng-if="is_owner" ng-click="editor_('content')") edit content
				div(ng-if="ui.editor['content'] == true")
					textarea(ng-model="vote.content")
					a(ng-click="edit('content', vote._id, vote.content)" )  save content

		

			// div.citoyen_action
				div(ng-hide="has_voted" ) 
					a.btn.btn-primary(ng-click="edit('new_voter', vote._id, 'Pour')" )  je vote Pour !
					a(ng-click="edit('new_voter', vote._id, 'Contre')" )  je vote Contre !
					a(ng-click="edit('new_voter', vote._id, 'Abstention')" )  je m'abstiens
				div(ng-if="has_voted" ) 
					a.btn.btn-primary(ng-click="filter_('','', user_logged.username)") - voir mon vote
			

			

			div.counts


				div.count_senateurs(ng-if="ui.count.all_senateurs.total > 0")
					h3 Vote des sénateurs  (total: {{ui.count.all_senateurs.total}})
					p dont :
						span.success pour : {{ui.count.all_senateurs.pour}} ({{ (100 * ui.count.all_senateurs.pour / ui.count.all_senateurs.total) | number:0}}%)
						span  | contre : {{ui.count.all_senateurs.contre}} ({{ (100 * ui.count.all_senateurs.contre / ui.count.all_senateurs.total) | number:0}}%)
						span  | abstention {{ui.count.all_senateurs.abstention}} ({{ (100 * ui.count.all_senateurs.abstention / ui.count.all_senateurs.total) | number:0}}%)
						span  | inconnue {{ui.count.all_senateurs.inconnue}} ({{ (100 * ui.count.all_senateurs.inconnue / ui.count.all_senateurs.total) | number:0}}%)
					.progress

						.progress-bar.progress-bar-success.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_senateurs.pour / ui.count.all_senateurs.total) | number:0}}%")
										span.srd-only {{(100*ui.count.all_senateurs.pour / ui.count.all_senateurs.total) | number:0}}% pour 
									
						.progress-bar.progress-bar-danger.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_senateurs.contre / ui.count.all_senateurs.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_senateurs.contre / ui.count.all_senateurs.total) | number:0}}% contre 
						
						.progress-bar.progress-bar-warning.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_senateurs.abstention / ui.count.all_senateurs.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_senateurs.abstention / ui.count.all_senateurs.total) | number:0}}% abstention 
						
					// .progress-bar.progress-bar-warning.progress-bar-striped(style="width:{{(100*ui.count.all_senateurs.inconnue / ui.count.all_senateurs.total) | number:0}}%")
						span.srd-only {{(100*ui.count.all_senateurs.inconnue / ui.count.all_senateurs.total) | number:0}}% inconnue






				div.count_deputes(ng-if="ui.count.all_deputes.total > 0")
					h3 Vote des deputés  (total: {{ui.count.all_deputes.total}})
					p dont :
						span.success pour : {{ui.count.all_deputes.pour}} ({{ (100 * ui.count.all_deputes.pour / ui.count.all_deputes.total) | number:0}}%)
						span  | contre : {{ui.count.all_deputes.contre}} ({{ (100 * ui.count.all_deputes.contre / ui.count.all_deputes.total) | number:0}}%)
						span  | abstention {{ui.count.all_deputes.abstention}} ({{ (100 * ui.count.all_deputes.abstention / ui.count.all_deputes.total) | number:0}}%)
						span  | inconnue {{ui.count.all_deputes.inconnue}} ({{ (100 * ui.count.all_deputes.inconnue / ui.count.all_deputes.total) | number:0}}%)
					.progress

						.progress-bar.progress-bar-success.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_deputes.pour / ui.count.all_deputes.total) | number:0}}%")
										span.srd-only {{(100*ui.count.all_deputes.pour / ui.count.all_deputes.total) | number:0}}% pour 
									
						.progress-bar.progress-bar-danger.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_deputes.contre / ui.count.all_deputes.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_deputes.contre / ui.count.all_deputes.total) | number:0}}% contre 
						
						.progress-bar.progress-bar-warning.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_deputes.abstention / ui.count.all_deputes.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_deputes.abstention / ui.count.all_deputes.total) | number:0}}% abstention 
						
					// .progress-bar.progress-bar-warning.progress-bar-striped(style="width:{{(100*ui.count.all_deputes.inconnue / ui.count.all_deputes.total) | number:0}}%")
						span.srd-only {{(100*ui.count.all_deputes.inconnue / ui.count.all_deputes.total) | number:0}}% inconnue

				
					
					
			
				div.count_citoyens(ng-if="ui.count.all_citoyens.total > 0")

					h3 Vote des citoyens  (total: {{ui.count.all_citoyens.total}})
					p dont :
						span.success pour : {{ui.count.all_citoyens.pour}} ({{ (100 * ui.count.all_citoyens.pour / ui.count.all_citoyens.total) | number:0}}%)
						span  | contre : {{ui.count.all_citoyens.contre}} ({{ (100 * ui.count.all_citoyens.contre / ui.count.all_citoyens.total) | number:0}}%)
						span  | abstention {{ui.count.all_citoyens.abstention}} ({{ (100 * ui.count.all_citoyens.abstention / ui.count.all_citoyens.total) | number:0}}%)
						
					
					.progress

						.progress-bar.progress-bar-success.progress-bar-striped(style="min-width:2em;  max-width:90%; width:{{(100*ui.count.all_citoyens.pour / ui.count.all_citoyens.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_citoyens.pour / ui.count.all_citoyens.total) | number:0}}% pour 	
						.progress-bar.progress-bar-danger.progress-bar-striped(style="min-width:2em; max-width:90%; width:{{(100*ui.count.all_citoyens.contre / ui.count.all_citoyens.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_citoyens.contre / ui.count.all_citoyens.total) | number:0}}% contre 
						.progress-bar.progress-bar-warning.progress-bar-striped(style="min-width:3em; max-width:90%;  width:{{(100*ui.count.all_citoyens.abstention / ui.count.all_citoyens.total) | number:0}}%")
							span.srd-only {{(100*ui.count.all_citoyens.abstention / ui.count.all_citoyens.total) | number:0}}% abstention 


			div.search
				// h4 Recherche
				input(ng-model="ui.lookup")

			div.filters
				h4 Filtres


				
				// div(ng-repeat="t in typeslist")
					h2 {{t}}


				ul.filter-btns(ng-if="ui.count.all_senateurs.total > 0")

					li 
						a(ng-click="filter_('','', '')") aucun filtre
					li 
						a(ng-click="filter_( 'senateur', '', '')") Sénateur seulement
					
					ul 
						li 
							a(ng-click="filter_('senateur','Pour','')") Pour
						li 
							a(ng-click="filter_('senateur','Contre','')") Contre
						li 
							a(ng-click="filter_('senateur','Abstention','')") Abstention
						li 
							a(ng-click="filter_('senateur','Inconnue','')")  Inconnue

					
				ul.filter-btns(ng-if="ui.count.all_deputes.total > 0")

					

					li 
						a(ng-click="filter_('','', '')") aucun filtre
					li 
						a(ng-click="filter_( 'depute', '', '')") Deputes seulement
					
					ul 
						li 
							a(ng-click="filter_('depute','Pour','')") Pour
						li 
							a(ng-click="filter_('depute','Contre','')") Contre
						li 
							a(ng-click="filter_('depute','Abstention','')") - qui s'abstiennent
						li 
							a(ng-click="filter_('depute','Inconnue','')") - Position inconnue

				ul.filter-btns(ng-if="ui.count.all_citoyens.total > 0")
					li 
						a(ng-click="filter_('citoyen','','')") citoyen
					ul
						li
							a(ng-click="filter_('citoyen','Pour','')") - qui sont pour
						li
							a(ng-click="filter_('citoyen','Contre','')") - qui sont contre
						li
							a(ng-click="filter_('citoyen','Abstention', '')") -  qui s'abstiennent

				h4(ng-if="ui.count.current == 0") Aucun résultat
				h4(ng-if="ui.count.current == 1") {{ui.count.current}} votant affiché sur un total de {{ui.count.all}} votants
				h4(ng-if="ui.count.current > 1") {{ui.count.current}} votants affichés sur un total de {{ui.count.all}} votants


		div
			div(ng-repeat="voter in vote.voters" class="col-md-4 voter type_{{voter.type}} group_{{voter.group}} byme_{{voter.byme}} position_{{voter.position}}" ng-if="voter.visible === true")

				div.left
					img.voter_pic(ng-if="voter.type == 'depute'" ng-src="http://www.nosdeputes.fr/depute/photo/{{voter.slug}}/60")

					img.voter_pic(ng-if="voter.type == 'senateur'" ng-src="http://www.nossenateurs.fr/senateur/photo/{{voter.slug}}/60")
				div.right
					h4.name {{voter.name}} 
					p  {{voter.group}} 
					p  {{voter.nom_circo}}
					p(ng-if="voter.twitter_account")
						a(href="https://twitter.com/intent/tweet?hashtags=Senat&text=Mobilisation citoyenne à propos du vote {{vote.title}} @{{voter.twitter_account}} http://lobbycitoyen.fr/vote/{{vote.slug}}") Interpeller @{{voter.twitter_account}} sur Twitter 
				div
					h3	vote {{voter.position}}
					// p	circonscription: 
					// p	type: {{voter.type}}
					// p	place hemicycle : {{voter.place_en_hemicycle}}
					// p	group : {{voter.group}}
					// p	note : {{voter.note}} 
						input(ng-model="voter.note" type="text")
						a() save
					// p	subgroup: {{voter.subgroup}}
					div.action
						p Editer vote : 
						ul(ng-repeat="p in ui.positions_available" )
							li.vote-btn
								a(ng-click="edit('voter', voter, p)" )  {{p}}


footer
	a(href="http://lobbycitoyen.fr") 
		span(ng-if="ui.iswidget") un widget   
		span lobbycitoyen.fr
			